* {
  box-sizing: border-box;
  font-family: Helvetica, arial, sans-serif;
}

main {
  max-width: 909px;
  margin: 0px auto;
}

header.title {
  text-align: center;
  background-color: #333333;
  color: white;
  display: block;
  padding-top: 1px;
}

header.title h1 {
    margin: 0px;
    padding: 20px;
}

nav {
  text-align: center;
  margin-top: -10px;
}

ul {
  padding: 0px;
}

ul li {
  display: inline;
  list-style: none;
}

button {
  border: 0px solid black;
  background-color: #d3d3d3;
  padding: 10px 10px;
  border-radius: 0px;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  font-weight:bold;
  font-size: 1em;
}

button:hover {
  background-color: yellow;
  color: #333333;
}

button:active {
  background-color:rgb(241, 55, 55);
}

header.about {
  background-color: #85fed1;
}

header.about h1 {
  font-weight: 500;
  margin: 0px;
  padding: 20px 20px;
  font-size: 1.5em;
}

.six {
  font-weight: bold;
  border-bottom: 2px solid yellow;
}

section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

article.piece {
  margin-top: 20px;
  width: 32.88%;
  display: inline-block;
}

article.piece img {
  max-width: 100%;
}

.options {
  text-align: center;
  height: 40px;
  background-color: yellow;
  padding-top: 11px;
}

footer {
  text-align: center;
  margin-top: 13px;
  color: white;
  background-color: #333333;
}

footer p {
  margin: 0px;
  padding: 15px;
  font-size: 12px;
}
